/*
 * Copyright (C) 2019 - All Rights Reserved by 
 * filename : imx-fire-key-overlay.dts
 * brief : Device Tree overlay for EBF6ull key device
 * author : embedfire
 * date : 2019-12-10
 * version : A001
 */
#include "imx6ul-pinfunc.h"
#include "imx6ull-pinfunc-snvs.h"
#include "dt-bindings/input/linux-event-codes.h"
#include "dt-bindings/gpio/gpio.h"

/dts-v1/;
/plugin/;

/{
	fragment@0{
		target = <&iomuxc>;
		__overlay__ {	
            pinctrl_wifi: wifigrp {
                fsl,pins = <
                MX6UL_PAD_GPIO1_IO01__GPIO1_IO01 0x010B1
                >;
            };
		};
	};

    fragment@1{
        target=<&iomuxc_snvs>;
        __overlay__ {
            pinctrl_spi4: spi4grp {
                fsl,pins = <
                    MX6ULL_PAD_BOOT_MODE0__GPIO5_IO10		0x70a1
                    MX6ULL_PAD_BOOT_MODE1__GPIO5_IO11		0x70a1
                    MX6ULL_PAD_SNVS_TAMPER7__GPIO5_IO07		0x70a1
                    MX6ULL_PAD_SNVS_TAMPER8__GPIO5_IO08		0x80000000
                >;
            };
        };
    };

    fragment@2{
        target-path="/";
        __overlay__{
            bcmdhd_wlan_0: bcmdhd_wlan@0 {
                compatible = "android,bcmdhd_wlan";
                wlreg_on-supply = <&wlreg_on>;
            };

            spi4 {
                compatible = "spi-gpio";
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_spi4>;
                pinctrl-assert-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;
                status = "okay";
                gpio-sck = <&gpio5 11 0>;
                gpio-mosi = <&gpio5 10 0>;
                cs-gpios = <&gpio5 7 0>;
                num-chipselects = <1>;
                #address-cells = <1>;
                #size-cells = <0>;

                gpio_spi: gpio_spi@0 {
                    compatible = "fairchild,74hc595";
                    gpio-controller;
                    #gpio-cells = <2>;
                    reg = <0>;
                    registers-number = <1>;
                    registers-default = /bits/ 8 <0x57>;
                    spi-max-frequency = <100000>;
                };
            };
        };
    };

    fragment@3{
        target=<&usdhc1>;
        __overlay__{
            pinctrl-names = "default";
            pinctrl-0 = <&pinctrl_usdhc1 &pinctrl_wifi>;
            
            pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
            pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
            /*cd-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;*/
            keep-power-in-suspend;
            enable-sdio-wakeup;
            vmmc-supply = <&reg_sd1_vmmc>;
            no-1-8-v;
            non-removable;
            cd-post;
            pm-ignore-notify;
            wifi-host;
            status = "okay";
        };
    };

    fragment@4{
            target-path="/regulators/regulator@1";
            __overlay__{
                compatible = "regulator-fixed";
                regulator-name = "WIFI_3V3";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
                gpio = <&gpio1 1 GPIO_ACTIVE_HIGH>;
                enable-active-high;
            };
    };

    fragment@5{
        target-path="/regulators";
        __overlay__{
            wlreg_on: fixedregulator@100 {
                compatible = "regulator-fixed";
                regulator-min-microvolt = <5000000>;
                regulator-max-microvolt = <5000000>;
                regulator-name = "wlan-en-gpio";
                gpio = <&gpio_spi 4 0>;
                startup-delay-us = <20000>;
                enable-active-high;
            };
        };
    };



};
